@import "tailwindcss";

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --font-sans: var(--font-poppins), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: #000000;
  color: var(--foreground);
  font-family: var(--font-sans);
}

@theme inline {
  --color-background: #000000;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}
